* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(180deg, rgba(110,103,108,0.9) 0%, rgba(23,7,11,0.9) 100%), url('../media/img/fond.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    overflow: hidden;
}

body:after {
    font-size: 1rem;
    color: #aaa;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    display: hidden;
}

.fut-player-card1 {
    position: relative;
    top: 290px;
    left: 750px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card1:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card1 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.player-rating{
    font-weight: 700;
    margin-top: -40px;
    margin-left: 5px;
}

.fut-player-card1 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card1 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.player-position{
    margin-top: -15px;
    margin-left: 5px;
}

.fut-player-card1 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card1 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card1 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card1 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.player-club{
    margin-left: -7px;
}

.fut-player-card1 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card1 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card1 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card1 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card1 .player-card-bottom {
    position: relative;
}

.fut-player-card1 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card1 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card1 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card1 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card1 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card1 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card1 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card1 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card1 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

#formationSelector{
    position: relative;
    bottom: 780px;
    left: 10px;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    background-color: #2c2c2c;
    color: #e4e7e4;
    -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}

#formationSelector:focus {
    outline: none;
    border: none;
}

/* Carte RB */
.fut-player-card2 {
    position: relative;
    top: 200px;
    left: 1150px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card2:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card2 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card2 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card2 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card2 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card2 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card2 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card2 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card2 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card2 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card2 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card2 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card2 .player-card-bottom {
    position: relative;
}

.fut-player-card2 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card2 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card2 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card2 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card2 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card2 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card2 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card2 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card2 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

/* Carte CBR */
.fut-player-card3 {
    position: relative;
    top: 250px;
    left: 750px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card3:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card3 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card3 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card3 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card3 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card3 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card3 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card3 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card3 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card3 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card3 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card3 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card3 .player-card-bottom {
    position: relative;
}

.fut-player-card3 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card3 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card3 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card3 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card3 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card3 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card3 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card3 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card3 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

/* Carte CBL */
.fut-player-card4 {
    position: relative;
    top: 250px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card4:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card4 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card4 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card4 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card4 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card4 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card4 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card4 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card4 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card4 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card4 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card4 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card4 .player-card-bottom {
    position: relative;
}

.fut-player-card4 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card4 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card4 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card4 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card4 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card4 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card4 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card4 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card4 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

/* Carte LB */
.fut-player-card5 {
    position: relative;
    top: 200px;
    right: 400px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card5:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card5 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card5 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card5 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card5 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card5 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card5 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card5 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card5 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card5 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card5 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card5 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card5 .player-card-bottom {
    position: relative;
}

.fut-player-card5 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card5 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card5 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card5 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card5 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card5 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card5 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card5 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card5 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

/* Carte LM */
.fut-player-card6 {
    position: relative;
    bottom: 100px;
    right: 548px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card6:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card6 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card6 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card6 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card6 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card6 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card6 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card6 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card6 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card6 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card6 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card6 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card6 .player-card-bottom {
    position: relative;
}

.fut-player-card6 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card6 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card6 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card6 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card6 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card6 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card6 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card6 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card6 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

/* Carte CML */
.fut-player-card7 {
    position: relative;
    bottom: 50px;
    right: 445px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card7:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card7 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card7 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card7 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card7 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card7 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card7 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card7 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card7 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card7 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card7 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card7 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card7 .player-card-bottom {
    position: relative;
}

.fut-player-card7 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card7 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card7 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card7 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card7 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card7 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card7 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card7 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card7 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

/* Carte CMR */
.fut-player-card8 {
    position: relative;
    bottom: 50px;
    left: 10px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card8:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card8 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card8 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card8 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card8 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card8 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card8 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card8 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card8 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card8 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card8 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card8 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card8 .player-card-bottom {
    position: relative;
}

.fut-player-card8 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card8 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card8 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card8 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card8 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card8 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card8 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card8 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card8 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

/* Carte RM */
.fut-player-card9 {
    position: relative;
    bottom: 100px;
    left: 110px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card9:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card9 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card9 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card9 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card9 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card9 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card9 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card9 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card9 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card9 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card9 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card9 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card9 .player-card-bottom {
    position: relative;
}

.fut-player-card9 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card9 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card9 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card9 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card9 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card9 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card9 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card9 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card9 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

/* Carte STR */
.fut-player-card10 {
    position: relative;
    bottom: 300px;
    right: 285px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card10:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card10 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card10 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card10 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card10 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card10 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card10 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card10 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card10 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card10 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card10 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card10 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card10 .player-card-bottom {
    position: relative;
}

.fut-player-card10 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card10 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card10 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card10 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card10 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card10 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card10 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card10 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card10 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}

/* Carte STL */
.fut-player-card11 {
    position: relative;
    bottom: 300px;
    right: 1038px;
    width: 12%;
    height: 30%;
    background-image: url(https://raw.githubusercontent.com/aymanebenhima/FUT-Champ-Ultimate-Team-Assets/refs/heads/main/src/assets/img/badge_ballon_dor.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fut-player-card11:hover{
    transition-delay:0.2s;
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 10px 10px #fff);
}

.fut-player-card11 .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fut-player-card11 .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.fut-player-card11 .player-card-top .player-master-info .player-position {
    font-size: 1rem;
    font-weight: 500;
}

.fut-player-card11 .player-card-top .player-master-info .player-nation {
    display: block;
    width: 20px;
    height: 25px;
    margin-top: -10px;
    margin-left: 5px;
}

.fut-player-card11 .player-card-top .player-master-info .player-nation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fut-player-card11 .player-card-top .player-master-info .player-club {
    display: block;
    width: 2rem;
    height: 40px;
    margin-left: 0;
}

.fut-player-card11 .player-card-top .player-master-info .player-club img {
    width: 150px;
    object-fit: contain;
}

.fut-player-card11 .player-card-top .player-picture {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    overflow: visible;
}

.fut-player-card11 .player-card-top .player-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: -1.5rem;
    bottom: 0;
}

.fut-player-card11 .player-card-top .player-picture .player-extra {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    overflow: visible;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    padding: 0 1.5rem;
    text-align: right;
    background: none;
}

.fut-player-card11 .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}

.fut-player-card11 .player-card-bottom {
    position: relative;
}

.fut-player-card11 .player-card-bottom .player-info {
    display: block;
    padding: 0.3rem 0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.fut-player-card11 .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    overflow: visible;
    font-weight: 500;
}

.fut-player-card11 .player-card-bottom .player-info .player-name span {
    display: block;
}

.fut-player-card11 .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.fut-player-card11 .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 10px;
    margin-top: -10px;
}

.fut-player-card11 .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}

.fut-player-card11 .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fut-player-card11 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight:800;
    font-size: 8px;
}

.fut-player-card11 .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 500;
    font-size: 8px;
}